body {
    margin: 0;
}

a,
u {
    text-decoration: none;
}

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

section.header {
    min-height: 10vh;
    background: #1F2937;
    justify-content: space-around;
}

section.hero {
    background: #1F2937;
}

section.info {
    background: #E5E7EB;
}

section.quote {
    background: #E5E7EB;
}

section.action {
    background: #E5E7EB;
}

section.footer {
    background: #1F2937;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    min-width: 30vw;
    justify-content: space-between;
}