body {
    margin: 0;
}

section {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hero {
    background: #1F2937;
}

section.info {
    background: #E5E7EB;
}

section.quote {
    background: #E5E7EB;
}

section.action {
    background: #E5E7EB;
}

section.footer {
    background: #1F2937;
}